html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; margin: 0 auto;}

h1 {font-size: 3.0em; font-weight: normal; margin: 0.3em 0;}
h2 {font-size: 1.8em; font-weight: normal; margin: 0 0 0.8em;}
h3 {font-size: 1.5em; font-weight: normal; margin: 0 0 0.8em;}
h3 {font-size: 1.2em; font-weight:600; display:inline; cursor:pointer; padding-left:0.5em; }

p {font-size: 1.2em; line-height:150%;}
li {font-size: 1.0em;}
strong {font-weight: 600;}

summary{margin-bottom:0.5em;}
summary:hover, summary:focus{color: #ffffff; background-color:  #384955; outline:2px solid #384955;}
details p {padding-left:1.6em;}
details ul {margin-left:1.6em; padding-left:1.6em;}

/* LEFT-COLUMN */
.left-column {background: #485C6A; color: #fff; padding: 5% 5%; text-align: center;}
.left-column .mugshot {width: 40%; border-radius: 50%; border: 0.3em solid #fff;}
.left-column .social {width: 6%; min-width:42px;}

.left-column h1 span#title {font-size: 0.5em;}
.left-column h1 span#role {display:block; font-size: 0.7em;}

.left-column a {text-decoration: none; color: #fff; padding:0;}
.left-column a:link{text-decoration: none;  color: #fff;}
.left-column a:visited{text-decoration: none;  color: #fff;}
.left-column a:hover, a:active, a:focus {text-decoration: none; color: #fff; outline:2px solid #fff;}

.left-column ul {list-style-type: none; margin: 0; padding: 0; text-align:center;}
.left-column ul li {display: inline-block; margin: 0 0.2em;}

.left-column ul li a span { position:absolute; height:1px; width:1px; overflow:hidden; clip:rect(1px 1px 1px 1px); clip:rect(1px, 1px, 1px, 1px);}

/* RIGHT-COLUMN */
.right-column {background: #fff; color: #485C6A; padding: 5%; text-align: left;}

.right-column h2 {font-size: 1.8em; font-weight: normal; margin: 0 0 0.8em;}

.right-column a {padding: 0 0.1em; font-weight: 600;}
.right-column a:link{color: #384955;}
.right-column a:visited{color: #384955;}
.right-column a:hover, .right-column a:focus{color: #ffffff; background-color:  #384955; outline:2px solid #384955;}
.right-column a:active{color: #005656;}

.right-column ul {list-style-type: square; padding-left: 1em;}
.right-column ul li {margin: 0 0 1em 0;}
.right-column ul li.footnote {fzont-size: 1em; list-style-type: none;}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {

.columns-container {float: left;}

h1 {font-size: 3.5em; margin: 0.3em 0;}
h2 {font-size: 2em; margin: 0 0 0.8em;}
h3 {font-size: 1.2em; margin: 0 0 0.5em;}

.left-column {padding: 3% 5%;}
.left-column h1 span#title {font-size: 0.7em;}

.right-column {padding: 3% 5%;}

.right-column h2 {font-size: 2em; font-weight: normal; margin: 0 0 0.5em;}

.left-column {float: left; position: fixed; width: 50%; height: 100%; margin-right: -50%;}
.left-column .mugshot {width: 40%;}

.right-column {margin-left: 50%; position: fixed; float: left; height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; overflow-x: hidden;}  
.right-column ul li {font-size: 1.0em;}

.right-column p:last-child {
  padding-bottom: 2em;
}

.fadeout {
    margin-left:50%;
    position: fixed; 
    bottom: 0em;
    width: 100%;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 
}